p, h1#pot, input{
	background-color: AntiqueWhite;
	padding: 7px;
	margin: 10px;
}

div#container {
  background-color: #FF8630;
  padding: 55px 40px;
}



div {
	background-color: Gold;
	padding: 7px 10px;
	font: 18px/1.2 verdana;
	font-weight: 600;
}

div#all {
	background-color: Moccasin;     
}

.button {
  inline-size: 100%;
  padding: 0.5lh 1.5lh;
  font: inherit;
  color: currentColor;
  background-color: Orange;
  border: none;
  cursor: pointer;
  transition: background-color 0.6s;
}

.button:hover,
.button:focus-visible {
  background-color: DarkOrange;

}

.menu {
  position: relative;
  display: grid;
  margin-block-start: 0.5lh;
  background-color: Orange;

  overflow: hidden;
  line-height: 0;
  color: transparent;
  transition: line-height 0.5s, color 0.5s;
}

.menu-item {
  overflow: hidden;
}

.menu-link {
  display: block;
  padding: 0.5lh 80px;
}

.menu-link:hover,
.menu-link:focus-visible {
  background-color: DarkOrange;
  transition: background-color 0.5s;
}

.button.active ~ .menu {
  line-height: 1.2;
  color: currentColor;
  